body {
  margin: 0;
  padding: 0;
  background-color: #1a2432; /* Uygulamandaki mat lacivert tonu. Temana göre ufak bir ayar yapabilirsin. */
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
  max-width: none; /* Vite'in 1280px sınırını ezip tam ekran yapan sihirli komut */
  margin: 0;
  padding: 0;
}